/* Contact Page */
.contact-content {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.contact-methods {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-method {
  margin-bottom: 20px;
  text-align: center;
}

.contact-method h3 {
  margin-top: 30;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.contact-method p {
  margin-bottom: 0;
  font-family: var(--font-sans);
}

/* Responsive design */
@media (max-width: 992px) {
  .contact-content {
    padding: 0 20px;
  }
}
