/* Hero Section */
.hero {
  padding: 0px 0;
  text-align: left;
  border-radius: 8px;
  /* margin-bottom: 60px; */
}

.hero-content {
  max-width: 800px;
  margin: 0;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--color-dark-gray);
  font-family: var(--font-mono);
}

.hero p:not(.lead) {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-family: var(--font-serif);
  letter-spacing: -0.01em;
  line-height: 1.6;
}

/* Responsive design */
@media (max-width: 576px) {
  .hero h1 {
    font-size: 2.2rem;
  }
  
  .lead {
    font-size: 1.2rem;
  }
}
